body {
    background: #F1F1F1;
    display: flex;
}

#nav {
    width: 50vw;
    height: 100vh;
    background: #141414;
    font-size: clamp(20px, 3vw, 64px);
    overflow-y: scroll;
}
.nav-header {
    height: 80px;
    width: 100%;
    background-color: #141414;
    border-bottom: 2px solid white;
    position: fixed;
    z-index: 10;
    display: none;
}
#nav ul {
    padding: 20px;
}
a {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px #F1F1F1;
}
a:hover {
    color: #F1F1F1;
}

.burger-menu {
    top: 20px;
    right: 20px;
    position: fixed;
    cursor: pointer;
    display: none;
    z-index: 999;
}
.burger-line {
    background-color: #141414;
    width: 50px;
    height: 5px;
    transition: all 0.3s;
}
.burger-line:nth-child(2n) {
    margin: 10px 0px;
}
.burger-menu:hover > .burger-line:nth-child(2n) {
    width: 30px;
}
.burger-menu-open > .burger-line:first-child {
    animation: closeFirst 0.5s forwards;
}
.burger-menu-open > .burger-line:nth-child(2n){
    animation: closeMiddle 0.5s forwards;
}
.burger-menu-open > .burger-line:last-child{
    animation: closeLast 0.5s forwards;
}

.container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: clamp(18px, 3vw, 64px);
    color: #141414;
}
.line {
    background: #141414;
    width: 50%;
    height: 5px;
}
h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 100;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #3b3a3a; 
}
::-webkit-scrollbar-thumb:hover {
    background: #5a5757; 
}


@media screen and (max-width: 768px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .burger-menu {
        display: block;
    }

    #nav {
        display: none;
    }
    .nav-header {
        display: block;
    }
    #nav ul {
        padding: 100px 20px 20px 20px;
    }
}


@keyframes closeFirst {
    80% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(15px) rotateZ(45deg);
        background-color: white;
    }
}
@keyframes closeMiddle {
    100% {
        width: 0px;
    }
}
@keyframes closeLast {
    80% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(-15px) rotateZ(-45deg);
        background-color: white;
    }
}
