body {
    background: #F1F1F1;
    display: flex;
}

ul {
    width: 40vw;
    height: 100vh;
    background: #141414;
    font-size: 64px;
    padding: 20px;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px #F1F1F1;
}

a:hover {
    color: #F1F1F1;
}

.container {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    color: #141414;
}
.line {
    background: #141414;
    width: 50%;
    height: 5px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 100;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #3b3a3a; 
}
::-webkit-scrollbar-thumb:hover {
    background: #5a5757; 
}

